mat-card, {
  max-width: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
}

mat-card-content{
  margin-top: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  img{
    margin-top: 10px;
    max-width: 150px;
  }


}
